.navbar {
  background-color: #282a2b;
}
.dropdown-menu {
  background-color: #000000;
  border: none;
  color: rgb(255, 255, 255);
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.dropdown-menu:hover {
  background-color: #b9b9b9;
  color: rgb(0, 0, 0);
}

.jumbotron {
  padding-top: 300px;
  /* background-color: #9fa1a1; */
  padding-bottom: 150px;
  padding-left: 50px;
  position: relative;
  height: 100vh;
}

.jumbotron::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/bg2.jpg");
  z-index: -1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.container h2 {
  font-size: 80px;
  margin-top: 100px;
  margin-bottom: 70px;
}

#visi {
  background-color: #73a9ad;
  margin-bottom: 100px;
  padding-bottom: 100px;
  justify-content: center;
  font-size: 20px;
}
body {
  /*  Sembunyikan Scrollbar  */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.murid {
  margin-top: 200px;
  margin-bottom: 170px;
}

.murid h3 {
  margin-bottom: 70px;
}
#visi h3 {
  padding-top: 100px;
}

#contact {
  margin-bottom: 100px;
}

#project {
  margin-top: 200px;
  margin-bottom: 150px;
}

.font {
  font-family: "Montserrat", sans-serif;
}
